@import "./styles/theme.css";
@import "./styles/layout.css";
@import "./styles/actions.css";
@import "./styles/tabs.css";
@import "./styles/groups.css";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: inherit !important;
    font: inherit;
}

.container--small {
    border: 1px solid var(--border-faded);
    border-radius: 0.25rem;
    background: transparent;
    color: var(--subtext);
    padding: 0.25rem;
    font-variant-ligatures: none;
    cursor: pointer;
    transition:
        border-color 150ms ease-in-out,
        background 200ms ease-in-out;
}
.container--small:hover {
    background: var(--surface);
    border: 1px solid var(--border);
}

.active {
    background: var(--surface-light);
    border: 1px solid var(--border-light);
    color: var(--text);
}

.empty-search-state-message {
    border: 1px dashed var(--border-faded);
    border-radius: 0.25rem;
    color: var(--subsubtext);
    padding: 0.35rem 0.5rem;
}

.row-delete-btn {
    border: 1px solid var(--border-faded);
    border-radius: 0.25rem;
    background: transparent;
    color: var(--subtext);
    cursor: pointer;
    display: grid;
    place-items: center;
    padding: 0.25rem;
    font-size: 0.85rem;
    font-weight: 600;
}

.row-delete-btn:hover {
    border-color: var(--red);
    color: var(--text);
    background: var(--red);
}

.setting-info-section {
    width: 100%;
    grid-column: 1 / -1;
    border: 1px solid var(--border);
    border-radius: 0.25rem;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    color: var(--subtext);
}

.setting-info-section[hidden] {
    display: none;
}

.theme-options {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
}

.bookmark-folder {
    width: 100%;
    min-height: 1.5rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid var(--border);
    border-radius: 0.25rem;
    color: var(--subtext);
    display: flex;
    align-items: center;
    gap: 0.75rem;
    cursor: pointer;
}

.bookmark-nested-list {
    list-style-type: none;
    margin-top: 0.5rem;
    margin-left: 1rem;
    display: grid;
    gap: 0.5rem;
}
