.bookmark-folder {
    width: 100%;
    min-height: 1.5rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid var(--border);
    border-radius: 0.25rem;
    color: var(--subtext);
    display: flex;
    align-items: center;
    gap: 0.75rem;
    cursor: pointer;
}

.bookmark-nested-list {
    list-style-type: none;
    margin-top: 0.5rem;
    margin-left: 1rem;
    display: grid;
    gap: 0.5rem;
}
