html {
    background: transparent;
    min-height: 100vh;
    font-family:
        "JetBrains Mono", "Fira Code", "Cascadia Mono", "SF Mono", Consolas,
        monospace;
}

body {
    width: 100%;
    min-height: calc(100vh - 0.15rem);
    padding: 0.5rem 1rem;
    border-left: 1px solid var(--border);
    background: var(--bg);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#actions,
#tabs-list,
#groups-list,
#bookmarks-list {
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;
}

#actions,
#tabs-list,
#groups-list {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--border);
}

#settings {
    width: 100%;
    margin-top: auto;
    padding-top: 1rem;
    display: grid;
    gap: 0.5rem;
}
